/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
.menu-toggle-btn {

    color: black;
    border: none;
    margin: 15px;
    
    border-radius: 50%;
    font-size: 15px;
    cursor: pointer;
}   
.floating-menu {
    position: absolute;
    width: 50%;
    height: 40%;
    top: 40px;
    right: 0px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.377);
    border-top: 0;
    color: black;
    border-bottom-left-radius: 8px;
    padding: 10px;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo do menu flutuante atualizado */
.floating-menu ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    
}

.floating-menu ul li {
    margin: 25px 10px;
    padding: 15px 8px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.089);
}

.floating-menu ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.floating-menu ul li .menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu-item .icon {
    margin-right: 5px; /* Espaço entre o ícone e o texto */
}

.menu-item .arrow {
    margin-left: auto; /* Garante que a seta fique à direita */
}