@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
.footer {
    background-color: #000;
    color: #fff;
    padding-top: 30px ;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    padding: 10px;
}

.footer-section h4 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #fff;
    font-size: 20px;
    margin: 0 10px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #f39c12;
}

.footer-bottom {
    background-color: #111;
    padding: 10px;
    margin-top: 20px;
}

.footer-bottom p {
    font-size: 14px;
}
