
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    
    scrollbar-width: none;
}
body {
    background: linear-gradient(#fff, #0101fc1c, white, #0101fc1c);
}
i{
    font-size: 20px;
}
nav  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    height: 20px;
    width: 100%;
    border-bottom: 1px solid #0101fc11;
}
                
nav .menu-pc li {
    text-decoration: none;
    font-size: 15px;
}

nav img {
    width: 120px;
    margin: 15px;
    object-fit: cover;
}

.menu-pc {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 20px;
}
.menu-pc li a {
    color: var(--cor-primaria);
}
.menu-pc li a:hover{
    color: var(--cor-secundaria);

}
.login i{
    font-size: 20px;
    padding: 5px 0px 0px 10px; 
}
.login {
    margin-right: 10px;
    background-color: var(--cor-primaria);
    color: var(--cor-branca);
    padding: 8px 15px;
    border-radius: 50px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}
.login:hover{
    background: linear-gradient(90deg, #1d0686, #052174);
}

.menu-toggle-btn {
    display: none;
}
@media(max-width:500px){
    .menu-pc,.login{
        display: none;
    }
    .menu-toggle-btn{
        display: flex;
    }
    .floating-menu{
        display: flex;
    }
    nav img{
        width: 80px;
    }
    nav{
        padding: 20px 0;
    }
}